GO

DECLARE @state varchar(2) = '', -- Enter the state
        @form varchar(200) = '', -- Enter the form name
        @count int = 0

SELECT @count=count(*) FROM dbo.t_states where [state_abbr] = @state

IF (@count = 1)
BEGIN
  EXEC [dbo].[spActivatePolicyJacket]
  -- Name of form
      @formName = @form
  -- State of form
      ,@formState = @state

  EXEC	[dbo].[spValidatePolicyJacket]
  -- Name of form
      @formName = @form
  -- State of form
     ,@formState = @state
END
ELSE
BEGIN
  PRINT 'The state is invalid'
END
GO