GO

DECLARE @state varchar(2) = '', -- Enter the state
        @count int = 0,
        @form varchar(max)

SELECT @count=count(*) FROM [dbo].[t_states] where [state_abbr] = @state and [IsGroup] = 1

IF (@count = 1)
BEGIN
  CREATE TABLE #formTable (form varchar(max))
  -- Add the insert rows here

  SELECT 
      RowNum = ROW_NUMBER() OVER(ORDER BY form)
      ,*
  INTO #temp
  FROM #formTable

  DECLARE @MaxRownum INT
  SET @MaxRownum = (SELECT MAX(RowNum) FROM #temp)

  DECLARE @Iter INT
  SET @Iter = (SELECT MIN(RowNum) FROM #temp)
  
  SELECT  [PFormID],
          [FormName],
          [FileName]
  FROM    [dbo].[t_policyforms]
  WHERE   [State] = @state
  AND     [Active] = 1
  ORDER BY [FormName] asc

  WHILE @Iter <= @MaxRownum
  BEGIN
    select @form=[form] from #temp where RowNum = @Iter

    IF (@form <> '')
    BEGIN
      EXEC [dbo].[spActivatePolicyJacket]
      -- Name of form
          @formName = @form
      -- State of form
         ,@formState = @state
    END

    SET @Iter = @Iter + 1
  END

  DROP TABLE #temp

  SELECT  [PFormID],
          [FormName],
          [FileName]
  FROM    [dbo].[t_policyforms]
  WHERE   [State] = @state
  AND     [Active] = 1
  ORDER BY [FormName] asc
    
  DROP TABLE #formTable
END
ELSE
BEGIN
  PRINT 'The state is invalid'
END
GO