GO

DECLARE @state varchar(2) = '', -- Enter the state
        @count int = 0,
        @form varchar(max)

CREATE TABLE #formTable ([form] varchar(max), [state] VARCHAR(2))
-- Add the insert rows here
INSERT INTO #formTable ([form],[state]) VALUES ('ALTA Short Form Residential Limited Coverage Junior Loan Policy (2021)','OK')
INSERT INTO #formTable ([form],[state]) VALUES ('Addendum to ALTA Short Form Residential Limited Coverage Junior Loan Policy (2021)','UT')
INSERT INTO #formTable ([form],[state]) VALUES ('ALTA Commitment (2021)','UT')

SELECT 
    RowNum = ROW_NUMBER() OVER(ORDER BY form)
    ,*
INTO #temp
FROM #formTable

DECLARE @MaxRownum INT
SET @MaxRownum = (SELECT MAX(RowNum) FROM #temp)

DECLARE @Iter INT
SET @Iter = (SELECT MIN(RowNum) FROM #temp)
  
WHILE @Iter <= @MaxRownum
BEGIN
  select @form=[form], @state=[state] from #temp where RowNum = @Iter

  IF (@form <> '')
  BEGIN
    EXEC [dbo].[spActivatePolicyJacket]
    -- Name of form
        @formName = @form
    -- State of form
        ,@formState = @state
  END

  SET @Iter = @Iter + 1
END

DROP TABLE #temp

SELECT  [FormName]
        ,[FileName]
FROM    [dbo].[t_policyforms]
WHERE   [State] = @state
AND     [Active] = 1
ORDER BY [FormName] asc
    
DROP TABLE #formTable
GO