GO
DECLARE @state varchar(2) = '',
        @form varchar(200) = '',
        @file varchar(200) = '',
        @type varchar(20) = '', --C=Commitment, G=Guarentee, L=Loan, or O=Owners
        @weight int = 1,
        @pj bit = 1, --1 for PJ/Guarantee, 0 for Commitment
        @flatten bit = 1,
        @formID varchar(20) = '' -- Leave blank for existing state

DECLARE @return INT = 0

SELECT @flatten = 0 FROM [dbo].[t_policyforms] WHERE @pj = 1 AND @form LIKE '%Short Form%'
    
IF (@form <> '' AND @state <> '' AND @file <> '' AND @type <> '')
BEGIN
  USE [alliant_dev]
  PRINT '-----Adding and Activating PJs in the database ' + DB_NAME() + '-----'
  EXEC @return = [dbo].[spCreatePolicyJacketTest]
  -- Name of form
      @formName = @form
  -- State of form
     ,@formState = @state
  -- Filename of form
     ,@fileName = @file
  -- If the form is a PJ or not (1 for PJ, 0 for Commitment/Guarantee)
     ,@pj = @pj
  -- They type of form
     ,@formType = @type
  -- The order the form is printed if multiple requested
     ,@weight = @weight
  -- Whether to flatten the PDF
     ,@flatten = @flatten
  -- Form ID
     ,@formID = @formID

  IF (@return > 0)
  BEGIN
    SELECT 'There was an error inserting the form into development.'
    RETURN
  END

  UPDATE  [t_policyforms]
  SET     [FormCode] = [PFormID]
  WHERE   [FormCode] IS NULL
  
  EXEC [dbo].[spActivatePolicyJacket]
  -- Name of form
      @formName = @form
  -- State of form
      ,@formState = @state

  PRINT '-----Validating PJs in ' + DB_NAME() + '-----'
  EXEC	[dbo].[spValidatePolicyJacket]
  -- Name of form
      @formName = @form
  -- State of form
     ,@formState = @state

  USE [alliant_test]
  PRINT '-----Adding and Activating PJs in the database ' + DB_NAME() + '-----'
  EXEC @return = [dbo].[spCreatePolicyJacketTest]
  -- Name of form
      @formName = @form
  -- State of form
     ,@formState = @state
  -- Filename of form
     ,@fileName = @file
  -- If the form is a PJ or not (1 for PJ, 0 for Commitment/Guarantee)
     ,@pj = @pj
  -- They type of form
     ,@formType = @type
  -- The order the form is printed if multiple requested
     ,@weight = @weight
  -- Whether to flatten the PDF
     ,@flatten = @flatten
  -- Form ID
     ,@formID = @formID

  IF (@return > 0)
  BEGIN
    SELECT 'There was an error inserting the form into test.'
    RETURN
  END

  UPDATE  [t_policyforms]
  SET     [FormCode] = [PFormID]
  WHERE   [FormCode] IS NULL
  
  EXEC [dbo].[spActivatePolicyJacket]
  -- Name of form
      @formName = @form
  -- State of form
      ,@formState = @state

  PRINT '-----Validating PJs in ' + DB_NAME() + '-----'
  EXEC	[dbo].[spValidatePolicyJacket]
  -- Name of form
      @formName = @form
  -- State of form
     ,@formState = @state

  USE [alliant_beta]
  PRINT '-----Adding and Activating PJs in the database ' + DB_NAME() + '-----'
  EXEC @return = [dbo].[spCreatePolicyJacketTest]
  -- Name of form
      @formName = @form
  -- State of form
     ,@formState = @state
  -- Filename of form
     ,@fileName = @file
  -- If the form is a PJ or not (1 for PJ, 0 for Commitment/Guarantee)
     ,@pj = @pj
  -- They type of form
     ,@formType = @type
  -- The order the form is printed if multiple requested
     ,@weight = @weight
  -- Whether to flatten the PDF
     ,@flatten = @flatten
  -- Form ID
     ,@formID = @formID

  IF (@return > 0)
  BEGIN
    SELECT 'There was an error inserting the form into beta.'
    RETURN
  END

  UPDATE  [t_policyforms]
  SET     [FormCode] = [PFormID]
  WHERE   [FormCode] IS NULL
  
  EXEC [dbo].[spActivatePolicyJacket]
  -- Name of form
      @formName = @form
  -- State of form
      ,@formState = @state

  PRINT '-----Validating PJs in ' + DB_NAME() + '-----'
  EXEC	[dbo].[spValidatePolicyJacket]
  -- Name of form
      @formName = @form
  -- State of form
     ,@formState = @state
END
GO