GO
DECLARE @state VARCHAR(2) = '',
        @form VARCHAR(200) = '',
        @file VARCHAR(200) = '',
        @type VARCHAR(20) = '', --C=Commitment, G=Guarentee, L=Loan, or O=Owners
        @weight INT = 1,
        @pj BIT = 1, --1 for PJ/Guarantee, 0 for Commitment
        @flatten BIT = 1,
        @formID VARCHAR(20) = '', -- Leave blank for existing form
        @activate BIT = 0

DECLARE @return INT = 0

SELECT @flatten = 0 FROM [dbo].[t_policyforms] WHERE @pj = 1 AND @form LIKE '%Short Form%'
    
IF (@form <> '' AND @state <> '' AND @file <> '' AND @type <> '')
BEGIN
  PRINT '-----Adding PJs in the database ' + DB_NAME() + '-----'
  EXEC [dbo].[spCreatePolicyJacket]
  -- Name of form
      @formName = @form
  -- State of form
     ,@formState = @state
  -- Filename of form
     ,@fileName = @file
  -- If the form is a PJ or not (1 for PJ, 0 for Commitment/Guarantee)
     ,@pj = @pj
  -- They type of form
     ,@formType = @type
  -- The order the form is printed if multiple requested
     ,@weight = @weight
  -- Whether to flatten the PDF
     ,@flatten = @flatten
  -- Form ID
     ,@formID = @formID

  IF (@return > 0)
  BEGIN
    SELECT 'There was an error inserting the form into environment.'
    RETURN
  END

  UPDATE  [t_policyforms]
  SET     [FormCode] = [PFormID]
  WHERE   [FormCode] IS NULL

  IF (@activate = 1)
  BEGIN
    EXEC [dbo].[spActivatePolicyJacket]
    -- Name of form
        @formName = @form
    -- State of form
        ,@formState = @state
  END

  PRINT '-----Validating PJs in ' + DB_NAME() + '-----'
  EXEC	[dbo].[spValidatePolicyJacket]
  -- Name of form
      @formName = @form
  -- State of form
     ,@formState = @state

END
GO