GO
SET NOCOUNT ON;
DECLARE @state VARCHAR(2) = '', -- Enter the state
        @return INT = 0

--start build the CPL type
DECLARE @deleteLender BIT = 1, -- use 1 if need lender CPL
        @deleteBuyer BIT = 0,  -- use 1 if need buyer CPL
        @deleteSeller BIT = 0,  -- use 1 if need seller CPL
        @CPLType varchar(100) = '' -- Enter the form name
DECLARE @CPLTypeTable TABLE (ord INT,CPLType VARCHAR(20))
IF (@deleteLender = 1) BEGIN INSERT INTO @CPLTypeTable (ord,CPLType) VALUES (1,'Lender') END
IF (@deleteBuyer = 1) BEGIN INSERT INTO @CPLTypeTable (ord,CPLType) VALUES (2,'Buyer') END
IF (@deleteSeller = 1) BEGIN INSERT INTO @CPLTypeTable (ord,CPLType) VALUES (3,'Seller') END

SELECT 
    RowNum = ROW_NUMBER() OVER(ORDER BY ord)
    ,*
INTO #temp
FROM @CPLTypeTable

DECLARE @MaxRownum INT
DECLARE @Iter INT
SET @MaxRownum = (SELECT MAX(RowNum) FROM #temp)
SET @Iter = (SELECT MIN(RowNum) FROM #temp)
DECLARE @item VARCHAR(20)
WHILE @Iter <= @MaxRownum
BEGIN
  SELECT @item=[CPLType] FROM #temp WHERE RowNum = @Iter
  IF (@CPLType <> '')
  BEGIN
    SET @CPLType = @CPLType + ','
  END
  SET @CPLType = @CPLType + @item
  SET @Iter = @Iter + 1
END
DROP TABLE #temp
--end build CPL type

IF (@CPLType <> '' AND @state <> '')
BEGIN
  PRINT '-----Deleting latest CPL in database ' + DB_NAME() + ' for the type(s) ' + @CPLType + '-----'
  EXEC [dbo].[spDeleteCPL]
   --The state abbreviation
      @state = @state
   --The type of form (should be Lender, Buyer, or Seller)
      ,@type = @CPLType

  EXEC [dbo].[spValidateCPL]
  -- The state abbreviation
      @state = @state
  -- The type of form (will validate that the type is present)
     ,@type = @CPLType
END
ELSE
BEGIN
  PRINT 'Please enter the CPL type and state'
END
GO