/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @search VARCHAR(30) = ''

SELECT  *
FROM    [dbo].[ApiLogs]
WHERE   [TimeStamp] > DATEADD(d,-7,GETDATE())
AND     [Message] LIKE '%' + @search + '%'
ORDER BY [TimeStamp] DESC