/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @policyID INT = 0,
        @agentID INT = 0,
        @officeID INT = 0,
        @fileNumber VARCHAR(100) = '',
        @user VARCHAR(MAX) = '',
        @policyList VARCHAR(MAX) = '',
        @source VARCHAR(30) = '',
        @month INTEGER = 0,
        @year INTEGER = 0

CREATE TABLE #policyTable ([policyID] INT, [used] DATETIME)
CREATE TABLE #selectTable ([policyID] INT)

IF (@policyList <> '')
BEGIN
  DECLARE @sql NVARCHAR(MAX) = ''

  SET @sql = '
  INSERT INTO #policyTable
  SELECT  [policyid]
  FROM    [dbo].[t_policies]
  WHERE   [policyid] IN (' + @policyList + ')'
  EXEC sp_executesql @sql
END
ELSE
BEGIN
  IF (@policyID > 0)
  BEGIN
    INSERT INTO #policyTable
    SELECT @policyID
  END
  ELSE
  BEGIN
    IF (@agentID > 0)
      INSERT INTO #policyTable
      SELECT  p.[policyid],
              p.[used]
      FROM    [dbo].[t_policies] p INNER JOIN
              (
              SELECT  [cid],
                      CASE
                        WHEN ISNUMERIC([cintid]) = 0     THEN 0
                        WHEN [cintid] LIKE '%[^-+ 0-9]%' THEN 0
                        WHEN CAST([cintid] AS NUMERIC(38, 0)) NOT BETWEEN -2147483648. AND 2147483647. THEN 0
                        ELSE [cintid]
                      END AS [cintid]
              FROM    [dbo].[t_company]
              ) o
      ON      p.[cid] = o.[cid]
      WHERE   o.[cintid] = @agentID
    
    ELSE IF (@user <> '')
      INSERT INTO #policyTable
      SELECT  [policyid],
              [used]
      FROM    [dbo].[t_policies]
      WHERE   [agent] = @user

    ELSE IF (@officeID > 0)
      INSERT INTO #policyTable
      SELECT  [policyid],
              [used]
      FROM    [dbo].[t_policies]
      WHERE   [cid] = @officeID

    ELSE IF (@fileNumber <> '')
      INSERT INTO #policyTable
      SELECT  [policyid],
              [used]
      FROM    [dbo].[t_policies]
      WHERE   [filenumber] = @fileNumber

    ELSE IF (@source <> '')
      INSERT INTO #policyTable
      SELECT  [policyid],
              [used]
      FROM    [dbo].[t_policies]
      WHERE   [Source] = @source

    ELSE
      INSERT INTO #policyTable
      SELECT  [policyid],
              [used]
      FROM    [dbo].[t_policies]
  END
END

IF (@month > 0 AND @year > 0)
  INSERT INTO #selectTable
  SELECT  [policyID]
  FROM    #policyTable
  WHERE   MONTH([used]) = @month
  AND     YEAR([used]) = @year

SELECT  p.[policyid],
        p.[Source],
        p.[used],
        p.[cid],
        p.[agent],
        o.[cintid],
        p.[filenumber],
        p.[policytype],
        p.[paid],
        p.[pformid],
        p.[void],
        p.[paiddate],
        p.[residential],
        p.[effectivedate],
        p.[liabilityamount],
        p.[grosspremium] AS 'policygross',
        p.[SignatoryID],
        s.[Name],
        e.[Description],
        e.[GrossPremium] AS 'endorsementgross',
        e.[NetPremium] AS 'endorsementnet',
        x.[TransactionType],
        x.[PropertyType],
        x.[StatCode],
        x.[ClosingDate],
        x.[netpremium],
        r.[Address1],
        r.[Address2],
        r.[City],
        r.[State],
        p.[BatchId]
FROM    #selectTable st INNER JOIN
        [dbo].[t_policies] p 
ON      p.[policyid] = st.[policyID] LEFT OUTER JOIN
        [dbo].[Signatory] s
ON      p.[SignatoryId] = s.[Id] LEFT OUTER JOIN
        [dbo].[PolicyEndorsements] e
ON      p.[policyid] = e.[policyid] LEFT OUTER JOIN
        [dbo].[PolicyExtra] x
ON      p.[policyid] = x.[policyid] LEFT OUTER JOIN
        [dbo].[PolicyProperties] r
ON      p.[policyid] = r.[policyid] LEFT OUTER JOIN
        [dbo].[t_company] o
ON      p.[cid] = o.[cid]
        
ORDER BY  p.[used] desc

DROP TABLE #policyTable
DROP TABLE #selectTable
