/****** Script for SelectTopNRows command from SSMS  ******/
USE [alliant]
DECLARE @officeID INT = 68

SELECT  s.[Id],
        s.[Username],
        so.[OfficeId],
        s.[Name]
FROM    [dbo].[SignatoryOffices] so INNER JOIN
        [dbo].[Signatory] s
ON      so.[Id] = s.[Id]
AND     so.[Active] = s.[Active]
WHERE   [OfficeId] = @officeID
