/****** Script for SelectTopNRows command from SSMS  ******/
USE [alliant_test]
USE [alliant]

SELECT  a.[ANAttorneyID] AS [attorneyID],
        0 AS [personID],
        a.[FullName] AS [name1],
        a.[FullName2] AS [name2],
        a.[Address1] AS [addr1],
        a.[Address2] AS [addr2],
        a.[city],
        a.[state],
        a.[Zipcode] AS [zip],
        a.[phone],
        a.[fax],
        a.[email],
        a.[contact],
        CASE [status]
          WHEN 'Active' THEN 'A'
          WHEN 'Inactive' THEN 'C'
          WHEN 'Pending' THEN 'P'
        END AS [stat],
        ass.[state] AS [stateID]
FROM    [dbo].[Attorneys] a INNER JOIN
        [dbo].[AttorneyState] ass
ON      a.[AttorneyID] = ass.[attorneyID]