USE dev_alliant
USE alliant_test
USE alliant

DECLARE @user VARCHAR(30) = '%Adriana%' -- The userid

SELECT a.[UserName]
      ,e.[UserId]
      ,a.[fullname]
      ,a.[Position]
      ,a.[phone]
      ,a.[fax]
      ,d.[RoleName]
      ,e.[LastLoginDate]
      ,e.[Password]
      ,e.[Email]
  FROM [dbo].[t_user] a inner join
       [dbo].[aspnet_Users] b inner join
       [dbo].[aspnet_Membership] e inner join
       [dbo].[aspnet_UsersInRoles] c inner join
       [dbo].[aspnet_Roles] d
    on d.RoleId = c.RoleId
    on c.UserId = e.UserId
    on e.UserId = b.UserId
    on b.username = a.UserName
  where a.[UserName] like @user
  order by [UserName],[RoleName]