/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @state VARCHAR(2) = ''

SELECT c.*
  FROM [alliant].[dbo].[Offices] c INNER JOIN
       [alliant].[dbo].[t_CompanyState] cs
    on c.cid = cs.CID
  where [status] = 'Active'
  and   [StateInit] = @state
  order by c.cid