/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  a.cid
       ,a.[agency]
       ,a.[state]
       ,[policyliabilitylimit]
       ,b.liability
FROM    [alliant].[dbo].[t_company] a inner join
        (
        SELECT  [agency]
               ,[state]
               ,max([policyliabilitylimit]) as liability
        FROM    [alliant].[dbo].[t_company]
        group by [agency],[state]
        ) b
     on a.[agency] = b.[agency]
    and a.[state] = b.[state]
