/****** Script for SelectTopNRows command from SSMS  ******/
USE [alliant]
GO

DECLARE @policyID INT = 0 -- Policy ID

  SELECT [policyid]
        ,[paid]
        ,[paiddate]
  FROM   [dbo].[t_policies]
  WHERE  [policyid] = @policyID

  UPDATE [dbo].[t_policies]
  SET    [paid] = 1
        ,[paiddate] = GETDATE()
  WHERE  [policyid] = @policyID

  SELECT [policyid]
        ,[paid]
        ,[paiddate]
  FROM   [dbo].[t_policies]
  WHERE  [policyid] = @policyID

GO