GO

DECLARE @ID int = 0, -- Enter the ID if known
        @claimID int = 0,
        @uid varchar(max) = '',
        @Cat varchar(max) = '',
        @IDStr varchar(max) = '',
        @ImportStr varchar(max) = ''
CREATE TABLE #apTable ([ID] int, [Cat] varchar(1))
CREATE TABLE #validTable ([tbl] varchar(30),[id] varchar(max),[cnt] int,[sqlCode] varchar(max),[delCode] varchar(max))

IF (@ID <> 0)
BEGIN
  INSERT INTO #apTable ([ID],[Cat])
  SELECT @ID,[refCategory] FROM [dbo].[apinv] WHERE [apinvID] = @ID
END
ELSE
BEGIN
  IF (@claimID > 0)
  BEGIN
  INSERT INTO #apTable ([ID],[Cat])
    SELECT [apinvID],[refCategory] FROM [dbo].[apinv] WHERE refID = CONVERT(VARCHAR,@claimID)
  END
  ELSE
  BEGIN
  INSERT INTO #apTable ([ID],[Cat])
    SELECT [apinvID],[refCategory] FROM [dbo].[apinv] WHERE [uid] = CASE WHEN @uid = '' THEN [uid] ELSE @uid END
  END
END

SELECT 
    RowNum = ROW_NUMBER() OVER(ORDER BY ID)
    ,*
INTO #temp
FROM #apTable

DECLARE @MaxRownum INT
SET @MaxRownum = (SELECT MAX(RowNum) FROM #temp)

DECLARE @Iter INT
SET @Iter = (SELECT MIN(RowNum) FROM #temp)

WHILE @Iter <= @MaxRownum
BEGIN
  SELECT @ID=[ID],@Cat=[Cat] FROM #temp WHERE RowNum = @Iter
  IF @IDStr <> ''
  BEGIN
    SET @IDStr = @IDStr + ','
    SET @ImportStr = @ImportStr + ','
  END
  SET @IDStr = @IDStr + CONVERT(VARCHAR,@ID)
  SET @ImportStr = @ImportStr + '''' +  @Cat + CONVERT(VARCHAR,@ID) + ''''
  SET @Iter = @Iter + 1
END
DROP TABLE #temp

INSERT INTO #validTable ([tbl], [id], [cnt], [sqlCode], [delCode])
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [apinvID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [apinvID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'apinv' AS tbl
        FROM  [dbo].apinv
        WHERE apinvID in (SELECT [ID] FROM #apTable)
        ) a
        
INSERT INTO #validTable ([tbl], [id], [cnt], [sqlCode], [delCode])
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [apinvID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [apinvID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'apinva' AS tbl
        FROM  [dbo].apinva
        WHERE apinvID in (SELECT [ID] FROM #apTable)
        ) a
        
INSERT INTO #validTable ([tbl], [id], [cnt], [sqlCode], [delCode])
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [apinvID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [apinvID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'apinvd' AS tbl
        FROM  [dbo].apinvd
        WHERE apinvID in (SELECT [ID] FROM #apTable)
        ) a
        
INSERT INTO #validTable ([tbl], [id], [cnt], [sqlCode], [delCode])
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [apinvID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [apinvID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'aptrx' AS tbl
        FROM  [dbo].aptrx
        WHERE apinvID in (SELECT [ID] FROM #apTable)
        ) a
        
INSERT INTO #validTable ([tbl], [id], [cnt], [sqlCode], [delCode])
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [entityType] = ''Invoice-AP'' AND [entityID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [entityType] = ''Invoice-AP'' AND [entityID]  IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'sysdoc' AS tbl
        FROM  [dbo].sysdoc
        WHERE [entityType] = 'Invoice-AP'
        AND   [entityID] in (SELECT [ID] FROM #apTable)
        ) a
        
INSERT INTO #validTable ([tbl], [id], [cnt], [sqlCode], [delCode])
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [ANTIC].[dbo].[' + tbl + '] WHERE [VoucherNum] IN (' + @ImportStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [ANTIC].[dbo].[' + tbl + '] WHERE [VoucherNum] IN (' + @ImportStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'cstbAPImport' AS tbl
        FROM  [ANTIC].[dbo].cstbAPImport
        WHERE [VoucherNum] in (SELECT [Cat] + convert(varchar,[ID]) FROM #apTable)
        ) a
        
INSERT INTO #validTable ([tbl], [id], [cnt], [sqlCode], [delCode])
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [ANTIC].[dbo].[' + tbl + '] WHERE [VoucherNum] IN (' + @ImportStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [ANTIC].[dbo].[' + tbl + '] WHERE [VoucherNum] IN (' + @ImportStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'cstbAPImportArchive' AS tbl
        FROM  [ANTIC].[dbo].cstbAPImportArchive
        WHERE [VoucherNum] in (SELECT [Cat] + convert(varchar,[ID]) FROM #apTable)
        ) a

IF (@ID > 0)
BEGIN
  INSERT INTO #validTable ([tbl], [id], [cnt], [sqlCode], [delCode])
  SELECT  'reset'
         ,''
         ,1
         ,''
         ,'UPDATE [apinv] SET [stat] = ''A'' WHERE [apinvID] = ' + CONVERT(VARCHAR, @ID)

  INSERT INTO #validTable ([tbl], [id], [cnt], [sqlCode], [delCode])
  SELECT  'reset'
         ,''
         ,1
         ,''
         ,'DELETE FROM [aptrx] WHERE [apinvID] = ' + CONVERT(VARCHAR, @ID)
END

SELECT * FROM #validTable ORDER BY [id] DESC, [tbl] ASC

DROP TABLE #apTable
DROP TABLE #validTable
GO