GO

DECLARE @ID int = 0, -- Enter the claim ID if known
        @admin VARCHAR(30) = '',
        @agentID VARCHAR(30) = '',
        @IDStr nvarchar(max)

DECLARE @claimTable TABLE (ID int)
DECLARE @validTable TABLE (tbl varchar(30),id varchar(max),cnt int,sqlCode varchar(max),delCode varchar(max))

IF (@ID <> 0)
BEGIN
  INSERT INTO @claimTable (ID) VALUES (@ID)
  SET @IDStr = CONVERT(VARCHAR,@ID)
END
ELSE
BEGIN
  INSERT INTO @claimTable
  SELECT  [claimID]
  FROM    [claim]
  WHERE   [assignedTo] = CASE WHEN @admin = '' THEN [assignedTo] ELSE @admin END
  AND     [agentID] = CASE WHEN @agentID = '' THEN [agentID] ELSE @agentID END
  GROUP BY [claimID]

  SELECT  * FROM @claimTable

  SELECT  @IDStr = COALESCE(@IDStr + ',','') + CONVERT(VARCHAR,[ID])
  FROM    @claimTable
END

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claim' AS tbl
        FROM  [dbo].claim
        WHERE claimID in (SELECT [ID] FROM @claimTable)
        ) a

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claimadjreq' AS tbl
        FROM  [dbo].claimadjreq
        WHERE claimID in (SELECT [ID] FROM @claimTable)
        ) a

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claimadjtrx' AS tbl
        FROM  [dbo].claimadjtrx
        WHERE claimID in (SELECT [ID] FROM @claimTable)
        ) a

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claimbond' AS tbl
        FROM  [dbo].claimbond
        WHERE claimID in (SELECT [ID] FROM @claimTable)
        ) a

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claimcarrier' AS tbl
        FROM  [dbo].claimcarrier
        WHERE claimID in (SELECT [ID] FROM @claimTable)
        ) a

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claimcode' AS tbl
        FROM  [dbo].claimcode
        WHERE claimID in (SELECT [ID] FROM @claimTable)
        ) a

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claimcontact' AS tbl
        FROM  [dbo].claimcontact
        WHERE claimID in (SELECT [ID] FROM @claimTable)
        ) a

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claimlitigation' AS tbl
        FROM  [dbo].claimlitigation
        WHERE claimID in (SELECT [ID] FROM @claimTable)
        ) a

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ') ORDER BY [noteDate] DESC' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claimnote' AS tbl
        FROM  [dbo].claimnote
        WHERE claimID in (SELECT [ID] FROM @claimTable)
        ) a

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claimcoverage' AS tbl
        FROM  [dbo].claimcoverage
        WHERE claimID in (SELECT [ID] FROM @claimTable)
        ) a

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claimproperty' AS tbl
        FROM  [dbo].claimproperty
        WHERE claimID in (SELECT [ID] FROM @claimTable)
        ) a

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [fromClaimID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [fromClaimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claimlink' AS tbl
        FROM  [dbo].claimlink
        WHERE fromclaimID in (SELECT [ID] FROM @claimTable)
        ) a

INSERT INTO @validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,CASE WHEN cnt > 0 THEN ID ELSE '' END
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + tbl + '] WHERE [claimID] IN (' + @IDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,@IDStr AS ID
              ,'claimattr' AS tbl
        FROM  [dbo].claimattr
        WHERE claimID in (SELECT [ID] FROM @claimTable)
        ) a

SELECT * FROM @validTable ORDER BY id DESC, tbl ASC
GO