GO

DECLARE @name VARCHAR(100) = '',
        @description VARCHAR(1000) = ''


IF (@name <> '')
BEGIN
  EXEC [dbo].[spGetDistributionContacts] @name = @name
END
ELSE
BEGIN
  IF (@description <> '')
  BEGIN
    SELECT  d.[name] AS [distName],
            d.[description] AS [description],
            pc.[personContactID] AS [personContactID],
            p.[dispName] AS [contactName],
            CASE WHEN COALESCE(p.[doNotCall], 0) = 0 THEN 'no' ELSE 'yes' END AS [doNotCall],
            pc.[contactID] AS [email],
            STRING_AGG(pa.[agentID], ', ') AS [agentID],
            STRING_AGG(a.[name], ', ') AS [agentName]
    FROM    [dbo].[distribution] d INNER JOIN
            [dbo].[distributioncontact] dc
    ON      d.[name] = dc.[name] INNER JOIN
            [dbo].[personcontact] pc
    ON      dc.[personContactID] = pc.[personContactID] INNER JOIN
            [dbo].[person] p
    ON      pc.[personID] = p.[personID] LEFT OUTER JOIN
            [dbo].[personagent] pa
    ON      p.[personID] = pa.[personID] LEFT OUTER JOIN
            [dbo].[agent] a
    ON      pa.[agentID] = a.[agentID]
    WHERE   d.[description] LIKE '%' + @description + '%'
    GROUP BY d.[name],d.[description],pc.[personContactID],p.[dispName],p.[doNotCall],pc.[contactID]
  END
  ELSE
  BEGIN
    SELECT  d.[name] AS [distName],
            d.[description] AS [description],
            pc.[personContactID] AS [personContactID],
            p.[dispName] AS [contactName],
            CASE WHEN COALESCE(p.[doNotCall], 0) = 0 THEN 'no' ELSE 'yes' END AS [doNotCall],
            pc.[contactID] AS [email],
            STRING_AGG(pa.[agentID], ', ') AS [agentID],
            STRING_AGG(a.[name], ', ') AS [agentName]
    FROM    [dbo].[distribution] d INNER JOIN
            [dbo].[distributioncontact] dc
    ON      d.[name] = dc.[name] INNER JOIN
            [dbo].[personcontact] pc
    ON      dc.[personContactID] = pc.[personContactID] INNER JOIN
            [dbo].[person] p
    ON      pc.[personID] = p.[personID] LEFT OUTER JOIN
            [dbo].[personagent] pa
    ON      p.[personID] = pa.[personID] LEFT OUTER JOIN
            [dbo].[agent] a
    ON      pa.[agentID] = a.[agentID]
    GROUP BY d.[name],d.[description],pc.[personContactID],p.[dispName],p.[doNotCall],pc.[contactID]
  END
END
GO