DECLARE @batch INT = 0, -- Enter the batch ID
        @agent VARCHAR(10) = '',
        @fileNumber VARCHAR(50) = '',
        @state VARCHAR(2) = '',
        @policyID INT = 0,
        @isComplete BIT = 0,
        @formID VARCHAR(10) = '',
        @periodID INT = 0,
        @formType VARCHAR(30) = '',
        @delete BIT = 0

SELECT  DISTINCT
        b.[batchID],
        b.[stat],
        b.[agentID],
        b.[receivedDate],
        b.[periodYear],
        b.[periodMonth],
        bf.[formType],
        bf.[formID],
        bf.[effDate],
        bf.[validMsg],
        bf.[zipCode],
        COALESCE(sf.[description],'Unknown') AS [description],
        bf.[policyID],
        bf.[fileNumber],
        bf.[netDelta],
        bf.[grossDelta],
        bf.[retentionDelta],
        bf.[liabilityAmount],
        bf.[liabilityDelta],
        b.[liabilityAmount],
        b.[liabilityDelta],
        bf.[fileNumber]
FROM    [dbo].[batchform] bf RIGHT OUTER JOIN
        [dbo].[batch] b
ON      bf.[batchID] = b.[batchID] LEFT OUTER JOIN
        [dbo].[stateform] sf
ON      b.[stateID] = sf.[stateID]
AND     bf.[formID] = sf.[formID]
WHERE   b.[agentID] = CASE WHEN @agent = '' THEN b.[agentID] ELSE @agent END
AND     b.[batchID] = CASE WHEN @batch = 0 THEN b.[batchID] ELSE @batch END
AND     b.[stateID] = CASE WHEN @state = '' THEN b.[stateID] ELSE @state END
AND     CASE bf.[formType] WHEN 'C' THEN bf.[seq] ELSE bf.[policyID] END = CASE WHEN @policyID = 0 THEN CASE bf.[formType] WHEN 'C' THEN bf.[seq] ELSE bf.[policyID] END ELSE @policyID END
AND     b.[stat] LIKE CASE WHEN @isComplete = 1 then 'C' ELSE '%%' END
AND     bf.[fileNumber] = CASE WHEN @fileNumber = '' THEN bf.[fileNumber] ELSE @fileNumber END
AND     bf.[formID] = CASE WHEN @formID = '' THEN bf.[formID] ELSE @formID END
AND     b.[periodID] = CASE WHEN @periodID = 0 THEN b.[periodID] ELSE @periodID END
AND     bf.[formType] = CASE WHEN @formType = '' THEN bf.[formType] ELSE @formType END
ORDER BY [policyID]

IF (@batch > 0)
BEGIN
  SELECT * FROM [batch] WHERE [batchID] = @batch
END

IF (@delete = 1 AND @batch > 0)
BEGIN
  DELETE FROM [dbo].[batchform] WHERE [batchID] = @batch
  
  SELECT  DISTINCT
          b.[batchID]
         ,b.[agentID]
         ,b.[periodYear]
         ,b.[periodMonth]
         ,COUNT(bf.[batchID])
  FROM    [dbo].[batchform] bf INNER JOIN
          [dbo].[batch] b
  ON      bf.[batchID] = b.[batchID]
  AND     b.[batchID] = @batch
  GROUP BY b.[batchID], b.[agentID], b.[periodYear], b.[periodMonth]
END