/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @action VARCHAR(50) = '',
        @role VARCHAR(50) = '',
        @program VARCHAR(50) = '',
        @user VARCHAR(100) = '',
        @delete BIT = 0

DECLARE @forInsert BIT = 0

IF @forInsert = 0
  SELECT  *
  FROM    [dbo].[sysaction]
  WHERE   [action] LIKE '%' + @action + '%'
  AND     [roles] LIKE '%' + @role + '%'
  AND     [progExec] LIKE '%' + @program + '%'
  AND     [userids] LIKE '%' + @user + '%'
  ORDER BY 1
ELSE
  SELECT  'INSERT INTO #actionTable ([act],[descrip],[program],[isQueueable],[isDest],[name],[htmlEmail],[subject]) VALUES (''' + [action] + ''',''' + [description] + ''',''' + [progExec] + ''',0,0,'''','''','''')'
  FROM    [dbo].[sysaction]
  WHERE   [action] LIKE '%' + @action + '%'
  AND     [roles] LIKE '%' + @role + '%'
  AND     [progExec] LIKE '%' + @program + '%'
  AND     [userids] LIKE '%' + @user + '%'
  ORDER BY 1

IF (@delete = 1)
BEGIN
  DELETE
  FROM    [dbo].[sysaction]
  WHERE   [action] LIKE '%' + @action + '%'
  AND     [roles] LIKE '%' + @role + '%'
  AND     [progExec] LIKE '%' + @program + '%'
  AND     [userids] LIKE '%' + @user + '%'

  SELECT  *
  FROM    [dbo].[sysaction]
  WHERE   [action] LIKE '%' + @action + '%'
  AND     [roles] LIKE '%' + @role + '%'
  AND     [progExec] LIKE '%' + @program + '%'
  AND     [userids] LIKE '%' + @user + '%'
  ORDER BY 1
END