/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @action VARCHAR(30) = '',
        @program VARCHAR(100) = '',
        @date DATETIME = '',
        @user VARCHAR(100) = '',
        @refNum VARCHAR(100) = '',
        @appID VARCHAR(30) = ''

IF (@date IS NULL OR @date = '')
  SELECT  *
  FROM    [dbo].[syslog]
  WHERE   [action] LIKE '%' + @action + '%'
  AND     [uid] = CASE WHEN @user = '' THEN [uid] ELSE @user END
  AND     [refNum] = CASE WHEN @refNum = '' THEN [refNum] ELSE @refNum END
  AND     [applicationID] = CASE WHEN @appID = '' THEN [applicationID] ELSE @appID END
  AND     [progExec] LIKE '%' + @program + '%'
  AND     [createdate] > DATEADD(DAY, -7, GETDATE())
  ORDER BY [createdate] DESC
ELSE
  SELECT  *
  FROM    [dbo].[syslog]
  WHERE   [action] LIKE '%' + @action + '%'
  AND     [uid] = CASE WHEN @user = '' THEN [uid] ELSE @user END
  AND     [refNum] = CASE WHEN @refNum = '' THEN [refNum] ELSE @refNum END
  AND     [applicationID] = CASE WHEN @appID = '' THEN [applicationID] ELSE @appID END
  AND     [progExec] LIKE '%' + @program + '%'
  AND     CONVERT(DATE, [createdate]) = @date
  ORDER BY [createdate] DESC