/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @codeType VARCHAR(50) = 'SYSMSG',
        @delete BIT = 0

IF (@codeType <> '')
BEGIN
  SELECT  *
  FROM    [syscode]
  WHERE   [codeType] = @codeType
  ORDER BY 2
END
ELSE
BEGIN
  SELECT  [codeType]
  FROM    [syscode]
  GROUP BY [codeType]
END


IF (@delete = 1 AND @codeType <> '')
BEGIN
  DELETE
  FROM  [syscode]
  WHERE [codeType] = @codeType

  SELECT  *
  FROM    [syscode]
  WHERE   [codeType] = @codeType
  ORDER BY 2
END