/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @user VARCHAR(32) = ''

SELECT  [uid],
        [name],
        [initials],
        [email],
        [role],
        [password],
        [isActive],
        [createDate],
        [passwordSetDate],
        [passwordExpired],
        [comments],
        [outOfOffice],
        [outStartDate],
        [outEndDate]
FROM    [dbo].[sysuser]
WHERE   [uid] LIKE CASE WHEN @user = '' THEN [uid] ELSE '%' + @user + '%' END
ORDER BY [uid]

