/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @type VARCHAR(50) = ''

SELECT  [type],
        [seq],
        [changedate],
        [uid]
FROM    [dbo].[syskey]
WHERE   [type] = CASE WHEN @type = '' THEN [type] ELSE @type END
ORDER BY [type]

DECLARE @sql NVARCHAR(MAX) = ''
SET @sql = 'SELECT [name],[current_value],[minimum_value],[maximum_value],[modify_date] FROM [sys].[sequences] WHERE [name] = CASE WHEN ''' + @type + ''' = '''' THEN [name] ELSE ''seq_' + @type + ''' END ORDER BY [name]' 

EXEC sp_sqlexec @sql