/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @entityType VARCHAR(30) = '',
        @entityID VARCHAR(30) = '',
        @seq INTEGER = 0,
        @delete BIT = 0

SELECT  *
FROM    [sysdoc]
WHERE   [entityID] LIKE CASE WHEN @entityID = '' THEN [entityID] ELSE '%' + @entityID + '%' END
AND     [entityType] = CASE WHEN @entityType = '' THEN [entityType] ELSE @entityType END
AND     [entitySeq] = CASE WHEN @seq = 0 THEN [entitySeq] ELSE @seq END
ORDER BY [entityType], [entityID]

IF (@delete = 1)
BEGIN
  DELETE
  FROM    [sysdoc]
  WHERE   [entityID] LIKE CASE WHEN @entityID = '' THEN [entityID] ELSE '%' + @entityID + '%' END
  AND     [entityType] = CASE WHEN @entityType = '' THEN [entityType] ELSE @entityType END
  AND     [entitySeq] = CASE WHEN @seq = 0 THEN [entitySeq] ELSE @seq END
  
  SELECT  *
  FROM    [sysdoc]
  WHERE   [entityID] LIKE CASE WHEN @entityID = '' THEN [entityID] ELSE '%' + @entityID + '%' END
  AND     [entityType] = CASE WHEN @entityType = '' THEN [entityType] ELSE @entityType END
  AND     [entitySeq] = CASE WHEN @seq = 0 THEN [entitySeq] ELSE @seq END
  ORDER BY [entityType], [entityID]
END