/****** Script for SelectTopNRows command from SSMS  ******/
USE [COMPASS]

DECLARE @agentID VARCHAR(30) = '',
        @code VARCHAR(30) = '',
        @delete BIT = 0

IF (@delete = 1)
BEGIN
  DELETE FROM [dbo].[alertnote] WHERE [alertID] IN (SELECT [alertID] FROM [dbo].[alert] WHERE [agentID] = CASE WHEN @agentID = '' THEN [agentID] ELSE @agentID END AND [processCode] = CASE WHEN @code = '' THEN [processCode] ELSE @code END)
  DELETE FROM [dbo].[alert] WHERE [agentID] = CASE WHEN @agentID = '' THEN [agentID] ELSE @agentID END AND [processCode] = CASE WHEN @code = '' THEN [processCode] ELSE @code END
  IF (@agentID = '' AND @code = '')
    UPDATE [dbo].[syskey] SET [seq] = 0 WHERE [type] = 'Alert'
END
ELSE
BEGIN
  SELECT  a.[processCode],
          ISNULL(c.[description],'') AS [description],
          COUNT(*) AS [count]
  FROM    [dbo].[alert] a LEFT OUTER JOIN
          [dbo].[syscode] c
  ON      a.[processCode] = c.[code]
  WHERE   [agentID] = CASE WHEN @agentID = '' THEN [agentID] ELSE @agentID END
  AND     [processCode] = CASE WHEN @code = '' THEN [processCode] ELSE @code END
  GROUP BY a.[processCode],c.[description]

  SELECT  a.[alertID],
          a.[agentID],
          a.[source],
          a.[processCode],
          ISNULL(c.[description],'') AS [description],
          a.[threshold],
          a.[score],
          a.[description],
          a.[severity],
          a.[dateCreated],
          a.[createdBy],
          a.[dateClosed],
          a.[closedBy],
          a.[effDate],
          a.[stat],
          a.[active],
          a.[owner],
          (SELECT COUNT(*) FROM [dbo].[alertnote] WHERE [alertID] = a.[alertID]) AS [notes]
  FROM    [dbo].[alert] a LEFT OUTER JOIN
          [dbo].[syscode] c
  ON      a.[processCode] = c.[code]
  WHERE   [agentID] = CASE WHEN @agentID = '' THEN [agentID] ELSE @agentID END
  AND     [processCode] = CASE WHEN @code = '' THEN [processCode] ELSE @code END
  ORDER BY [agentID], [alertID]
END