/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @user VARCHAR(32) = '',
        @delete BIT = 0

SELECT  [uid],
        [name],
        [initials],
        [email],
        [role],
        CASE WHEN @user = '' THEN 'XXX' ELSE [password] END AS [password],
        [isActive],
        [createDate],
        [passwordSetDate],
        [passwordExpired],
        [comments],
        [outOfOffice],
        [outStartDate],
        [outEndDate],
        [department]
FROM    [dbo].[sysuser]
WHERE   [uid] = CASE WHEN @user = '' THEN [uid] ELSE @user END
ORDER BY [uid]

IF (@delete = 1)
  DELETE  
  FROM    [dbo].[sysuser]
  WHERE   [uid] = CASE WHEN @user = '' THEN [uid] ELSE @user END
