/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @objType VARCHAR(100) = '',
        @objID VARCHAR(100) = ''

SELECT  [objType],
        [objAttribute],
        [objKey],
        [objID]
FROM    [COMPASS].[dbo].[sysindex]
WHERE   [objType] LIKE '%' + @objType + '%'
AND     [objID] = CASE WHEN @objID = '' THEN [objID] ELSE @objID END