/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @lockType VARCHAR(30) = '',
        @lockID   VARCHAR(30) = '',
        @delete   BIT         = 0

IF (@delete = 1)
BEGIN
  DELETE
  FROM    [syslock]
  WHERE   [entityType] = CASE WHEN @lockType = '' THEN [entityType] ELSE @lockType END
  AND     [entityID] =   CASE WHEN @lockID = ''   THEN [entityID]   ELSE @lockID   END
END

SELECT *
FROM    [dbo].[syslock]
WHERE   [entityType] = CASE WHEN @lockType = '' THEN [entityType] ELSE @lockType END
AND     [entityID] =   CASE WHEN @lockID = ''   THEN [entityID]   ELSE @lockID   END
ORDER BY [entityID]
