/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @appCode VARCHAR(30) = '',
        @objAction VARCHAR(30) = '',
        @objProperty VARCHAR(30) = '',
        @objID VARCHAR(30) = '',
        @objRef VARCHAR(30) = '',
        @updateAction VARCHAR(30) = '',
        @updateProperty VARCHAR(30) = '',
        @delete BIT = 0

SELECT  [appCode],
        [objAction],
        [objProperty],
        [objID],
        [objValue],
        [objName],
        [objDesc],
        [objRef],
        [lastModified],
        [modifiedBy],
        [comments]
FROM    [dbo].[sysprop]
WHERE   [appCode] = CASE WHEN @appCode = '' THEN [appCode] ELSE @appCode END
AND     [objAction] = CASE WHEN @objAction = '' THEN [objAction] ELSE @objAction END
AND     [objProperty] = CASE WHEN @objProperty = '' THEN [objProperty] ELSE @objProperty END
AND     [objID] = CASE WHEN @objID = '' THEN [objID] ELSE @objID END
AND     [objRef] = CASE WHEN @objRef = '' THEN [objRef] ELSE @objRef END
ORDER BY [appCode], [objAction],[objProperty],[objID],[objRef]

IF (@updateAction <> '')
BEGIN
  UPDATE  [dbo].[sysprop]
  SET     [objAction] = @updateAction
  WHERE   [appCode] = CASE WHEN @appCode = '' THEN [appCode] ELSE @appCode END
  AND     [objAction] = CASE WHEN @objAction = '' THEN [objAction] ELSE @objAction END
  AND     [objProperty] = CASE WHEN @objProperty = '' THEN [objProperty] ELSE @objProperty END
  AND     [objID] = CASE WHEN @objID = '' THEN [objID] ELSE @objID END
  AND     [objRef] = CASE WHEN @objRef = '' THEN [objRef] ELSE @objRef END

  SELECT  [appCode],
          [objAction],
          [objProperty],
          [objID],
          [objValue],
          [objName],
          [objDesc],
          [objRef],
          [lastModified],
          [modifiedBy],
          [comments]
  FROM    [dbo].[sysprop]
  WHERE   [appCode] = CASE WHEN @appCode = '' THEN [appCode] ELSE @appCode END
  AND     [objAction] = @updateAction
  AND     [objProperty] = CASE WHEN @objProperty = '' THEN [objProperty] ELSE @objProperty END
  AND     [objID] = CASE WHEN @objID = '' THEN [objID] ELSE @objID END
  AND     [objRef] = CASE WHEN @objRef = '' THEN [objRef] ELSE @objRef END
  ORDER BY [appCode], [objAction],[objProperty],[objID],[objRef]
END

IF (@updateProperty <> '')
BEGIN
  UPDATE  [dbo].[sysprop]
  SET     [objProperty] = @updateProperty
  WHERE   [appCode] = CASE WHEN @appCode = '' THEN [appCode] ELSE @appCode END
  AND     [objAction] = CASE WHEN @objAction = '' THEN [objAction] ELSE @objAction END
  AND     [objProperty] = CASE WHEN @objProperty = '' THEN [objProperty] ELSE @objProperty END
  AND     [objID] = CASE WHEN @objID = '' THEN [objID] ELSE @objID END
  AND     [objRef] = CASE WHEN @objRef = '' THEN [objRef] ELSE @objRef END

  SELECT  [appCode],
          [objAction],
          [objProperty],
          [objID],
          [objValue],
          [objName],
          [objDesc],
          [objRef],
          [lastModified],
          [modifiedBy],
          [comments]
  FROM    [dbo].[sysprop]
  WHERE   [appCode] = CASE WHEN @appCode = '' THEN [appCode] ELSE @appCode END
  AND     [objAction] = CASE WHEN @objAction = '' THEN [objAction] ELSE @objAction END
  AND     [objProperty] = @updateProperty
  AND     [objID] = CASE WHEN @objID = '' THEN [objID] ELSE @objID END
  AND     [objRef] = CASE WHEN @objRef = '' THEN [objRef] ELSE @objRef END
  ORDER BY [appCode], [objAction],[objProperty],[objID],[objRef]
END

IF (@delete = 1)
BEGIN
  DELETE
  FROM    [dbo].[sysprop]
  WHERE   [appCode] = CASE WHEN @appCode = '' THEN [appCode] ELSE @appCode END
  AND     [objAction] = CASE WHEN @objAction = '' THEN [objAction] ELSE @objAction END
  AND     [objProperty] = CASE WHEN @objProperty = '' THEN [objProperty] ELSE @objProperty END
  AND     [objID] = CASE WHEN @objID = '' THEN [objID] ELSE @objID END
  AND     [objRef] = CASE WHEN @objRef = '' THEN [objRef] ELSE @objRef END

  SELECT  [appCode],
          [objAction],
          [objProperty],
          [objID],
          [objValue],
          [objName],
          [objDesc],
          [objRef],
          [lastModified],
          [modifiedBy],
          [comments]
  FROM    [dbo].[sysprop]
  WHERE   [appCode] = CASE WHEN @appCode = '' THEN [appCode] ELSE @appCode END
  AND     [objAction] = CASE WHEN @objAction = '' THEN [objAction] ELSE @objAction END
  AND     [objProperty] = CASE WHEN @objProperty = '' THEN [objProperty] ELSE @objProperty END
  AND     [objID] = CASE WHEN @objID = '' THEN [objID] ELSE @objID END
  AND     [objRef] = CASE WHEN @objRef = '' THEN [objRef] ELSE @objRef END
  ORDER BY [appCode], [objAction],[objProperty],[objID],[objRef]
END