/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [agentID]
      ,[corporationID]
      ,[stateID]
      ,[stat]
      ,[name]
      ,[addr1]
      ,[addr2]
      ,[addr3]
      ,[addr4]
      ,[city]
      ,[county]
      ,[state]
      ,[zip]
      ,[contact]
      ,[phone]
      ,[fax]
      ,[email]
      ,[website]
      ,[stateLicense]
      ,[stateLicenseEff]
      ,[stateLicenseExp]
      ,[eoRequired]
      ,[eoCompany]
      ,[eoPolicy]
      ,[eoCoverage]
      ,[eoAggregate]
      ,[eoStartDate]
      ,[eoEndDate]
      ,[software]
      ,[isAiga]
      ,[isAffiliated]
      ,[createDate]
      ,[agentDate]
      ,[cancelDate]
      ,[closedDate]
      ,[orgType]
      ,[policyLimit]
      ,[liabilityLimit]
      ,[lastRemitDate]
      ,[lastRemitAmt]
      ,[lastAuditDate]
      ,[lastAuditScore]
      ,[nextAuditDue]
      ,[lastCertDate]
      ,[nextCertDue]
      ,[comments]
      ,[contractID]
      ,[contractDate]
      ,[maxCoverage]
      ,[remitType]
      ,[remitValue]
      ,[remitAlert]
      ,[prospectDate]
      ,[activeDate]
      ,[reviewDate]
      ,[swVendor]
      ,[swVersion]
      ,[batchCount]
      ,[batchTotal]
      ,[manager]
      ,[altaUID]
      ,[mname]
      ,[maddr1]
      ,[maddr2]
      ,[maddr3]
      ,[maddr4]
      ,[mcity]
      ,[mstate]
      ,[mzip]
  FROM [COMPASS].[dbo].[agent]