GO

DECLARE @qarID int = 0, -- Enter the qar ID if known
        @agentID VARCHAR(50) = '', -- Enter the agentID
        @version VARCHAR(1) = 'L'

DECLARE @qarIDStr varchar(max) = ''

CREATE TABLE #auditTable (qarID int)
CREATE TABLE #validTable (tbl varchar(30),id varchar(max),cnt int,sqlCode varchar(max),delCode varchar(max))

IF (@qarID <> 0)
  INSERT INTO #auditTable (qarID) VALUES (@qarID)
ELSE
BEGIN
  IF (@agentID <> '')
  BEGIN
    INSERT INTO #auditTable (qarID)
    SELECT [qarID] FROM [dbo].[qar] WHERE [version] = @version AND [agentID] = @agentID
  END
  ELSE
  BEGIN
    INSERT INTO #auditTable (qarID)
    SELECT [qarID] FROM [dbo].[qar] WHERE [version] = @version
  END
END

SELECT 
    RowNum = ROW_NUMBER() OVER(ORDER BY qarID)
    ,*
INTO #temp
FROM #auditTable

DECLARE @MaxRownum INT
SET @MaxRownum = (SELECT MAX(RowNum) FROM #temp)

DECLARE @Iter INT
SET @Iter = (SELECT MIN(RowNum) FROM #temp)

WHILE @Iter <= @MaxRownum
BEGIN
  SELECT @qarID=qarID FROM #temp WHERE RowNum = @Iter
  IF @qarIDStr <> ''
  BEGIN
    SET @qarIDStr = @qarIDStr + ','
  END
  SET @qarIDStr = @qarIDStr + CONVERT(VARCHAR,@qarID)
  SET @Iter = @Iter + 1
END
DROP TABLE #temp

INSERT INTO #validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,@qarIDStr
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,'qar' AS tbl
        FROM  [dbo].qar
        WHERE [qarID] in (SELECT [qarID] FROM #auditTable)
        ) a

INSERT INTO #validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,@qarIDStr
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ') ORDER BY [qarID] ASC, [seq] DESC' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,'qarnote' AS tbl
        FROM  [dbo].qarnote
        WHERE [qarID] in (SELECT [qarID] FROM #auditTable)
        ) a

INSERT INTO #validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,@qarIDStr
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,'qarsection' AS tbl
        FROM  [dbo].qarsection
        WHERE [qarID] in (SELECT [qarID] FROM #auditTable)
        ) a

INSERT INTO #validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,@qarIDStr
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,'qarfinding' AS tbl
        FROM  [dbo].qarfinding
        WHERE [qarID] in (SELECT [qarID] FROM #auditTable)
        ) a

INSERT INTO #validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,@qarIDStr
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,'qaraction' AS tbl
        FROM  [dbo].qaraction
        WHERE [qarID] in (SELECT [qarID] FROM #auditTable)
        ) a

INSERT INTO #validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,@qarIDStr
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,'qarbp' AS tbl
        FROM  [dbo].qarbp
        WHERE [qarID] in (SELECT [qarID] FROM #auditTable)
        ) a

INSERT INTO #validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,@qarIDStr
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,'qaranswer' AS tbl
        FROM  [dbo].qaranswer
        WHERE [qarID] in (SELECT [qarID] FROM #auditTable)
        ) a

INSERT INTO #validTable (tbl, id, cnt, sqlCode,delCode)
SELECT  tbl
       ,@qarIDStr
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,'qaraccount' AS tbl
        FROM  [dbo].qaraccount
        WHERE [qarID] in (SELECT [qarID] FROM #auditTable)
        ) a

INSERT INTO #validTable (tbl, id, cnt, sqlCode, delCode)
SELECT  tbl
       ,@qarIDStr
			 ,cnt
       ,CASE WHEN cnt > 0 THEN 'SELECT * FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
       ,CASE WHEN cnt > 0 THEN 'DELETE FROM [' + DB_NAME() + '].[dbo].[' + tbl + '] WHERE [qarID] IN (' + @qarIDStr + ')' ELSE '' END
FROM    (
        SELECT COUNT(*) AS cnt
              ,'qarfile' AS tbl
        FROM  [dbo].qarfile
        WHERE [qarID] in (SELECT [qarID] FROM #auditTable)
        ) a

IF (@qarID > 0)
BEGIN
  INSERT INTO #validTable (tbl, id, cnt, sqlCode, delCode)
  SELECT  'reset'
         ,''
         ,1
         ,''
         ,'UPDATE [qar] SET [stat] = ''A'' WHERE [qarID] IN (' + @qarIDStr + ')'
END

SELECT * FROM #validTable ORDER BY id DESC

DROP TABLE #auditTable
DROP TABLE #validTable
GO