/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @user VARCHAR(32) = '',
        @role VARCHAR(100) = 'None'

SELECT  [uid]
       ,[role]
FROM    [COMPASS].[dbo].[sysuser]
where   [uid] = @user + '@alliantnational.com'

UPDATE  [COMPASS].[dbo].[sysuser]
SET     [role] = @role
WHERE   [uid] = @user + '@alliantnational.com'

SELECT  [uid]
       ,[role]
FROM    [COMPASS].[dbo].[sysuser]
where   [uid] = @user + '@alliantnational.com'