
DECLARE @policyList VARCHAR(MAX) = '',
        @delete BIT = 0,
        @sql NVARCHAR(MAX)

SET @sql = '
SELECT  [policyID],
        [stat],
        [agentID],
        [stateID],
        [issueDate],
        [trxID],
        [trxDate]
FROM    [COMPASS].[dbo].[policy]
WHERE   [policyID] in (' + @policyList + ')
AND     [policyID] <> 0'

EXEC sp_executesql @sql

IF @delete = 1
BEGIN
  SET @sql = '
  DELETE
  FROM    [COMPASS].[dbo].[policy]
  WHERE   [policyID] in (' + @policyList + ')
  AND     [policyID] <> 0'

  EXEC sp_executesql @sql
END