use ANTIC

DECLARE @vendorid varchar(10) = ''

IF (@vendorid <> '')
BEGIN
  SELECT  DISTINCT
          V.VENDORID Vendor_ID,
          V.VENDNAME Vendor_Name,
          V.VENDSTTS Vendor_Status,
          V.ADDRESS1 Vendor_Address,
          V.CITY Vendor_City,
          V.STATE Vendor_State,
          V.ZIPCODE Vendor_Zip,
          G.ACTNUMST Account_Number,
          A.ACTDESCR Account_Name,
          D.SGMNTID Department_Number,
          D.DSCRIPTN Department_Name
  FROM    PM00200 V
          LEFT OUTER JOIN
          GL00105 G
          INNER JOIN
          GL40200 D
          ON G.ACTNUMBR_3 = D.SGMNTID
          ON V.PMPRCHIX = G.ACTINDX
          LEFT OUTER JOIN
          GL00100 A
          ON A.ACTINDX = G.ACTINDX
  WHERE   V.VENDORID = @vendorid
  ORDER BY V.VENDORID
END
ELSE
BEGIN
  SELECT  DISTINCT
          V.VENDORID Vendor_ID,
          V.VENDNAME Vendor_Name,
          V.VENDSTTS Vendor_Status,
          V.ADDRESS1 Vendor_Address,
          V.CITY Vendor_City,
          V.STATE Vendor_State,
          V.ZIPCODE Vendor_Zip,
          G.ACTNUMST Account_Number,
          A.ACTDESCR Account_Name,
          D.SGMNTID Department_Number,
          D.DSCRIPTN Department_Name
  FROM    PM00200 V
          LEFT OUTER JOIN
          GL00105 G
          INNER JOIN
          GL40200 D
          ON G.ACTNUMBR_3 = D.SGMNTID
          ON V.PMPRCHIX = G.ACTINDX
          LEFT OUTER JOIN
          GL00100 A
          ON A.ACTINDX = G.ACTINDX
  ORDER BY V.VENDORID
END