/****** Script for SelectTopNRows command from SSMS  ******/
USE [ANTIC]

DECLARE @batchID VARCHAR(30) = '',
        @policyID INTEGER = 0,
        @fileNumber VARCHAR(100) = '',
        @newFileNumber VARCHAR(100) = '',
        @posted BIT = 0,
        @migrate BIT = 0

IF (@batchID  = '')
  SELECT  [BatchID],
          COUNT(*) AS [files]
  FROM    [cstbInvoiceImport]
  GROUP BY [BatchID]
ELSE
BEGIN
  IF (@batchID <> '' AND @policyID > 0)
  BEGIN
    IF (@migrate = 1)
    BEGIN
      INSERT INTO [dbo].[cstbInvoiceImport]
           ([Status]
           ,[FileName]
           ,[BatchID]
           ,[Seq]
           ,[CurrentDate]
           ,[InvoiceDate]
           ,[BatchReceivedDate]
           ,[CustomerID]
           ,[FileID]
           ,[TransactionType]
           ,[PolicyID]
           ,[FormType]
           ,[FormID]
           ,[FormDescription]
           ,[StatCode]
           ,[PolicyEffectiveDate]
           ,[Liability]
           ,[County]
           ,[Residential]
           ,[GrossPremium]
           ,[NetPremium]
           ,[RetainedPremium]
           ,[GPDocNum]
           ,[Comment])
      SELECT  [Status]
             ,[FileName]
             ,[BatchID]
             ,[Seq]
             ,[CurrentDate]
             ,[InvoiceDate]
             ,[BatchReceivedDate]
             ,[CustomerID]
             ,[FileID]
             ,[TransactionType]
             ,[PolicyID]
             ,[FormType]
             ,[FormID]
             ,[FormDescription]
             ,[StatCode]
             ,[PolicyEffectiveDate]
             ,[Liability]
             ,[County]
             ,[Residential]
             ,[GrossPremium]
             ,[NetPremium]
             ,[RetainedPremium]
             ,[GPDocNum]
             ,[Comment]
      FROM   [ANTIC].[dbo].[cstbInvoiceArchive]
      WHERE  [BatchID] = @batchID
      AND    [PolicyID] = @policyID

      DELETE
      FROM   [ANTIC].[dbo].[cstbInvoiceArchive]
      WHERE  [BatchID] = @batchID
      AND    [PolicyID] = @policyID
    END
  END
  ELSE
  BEGIN
    SELECT  *
    FROM    [ANTIC].[dbo].[cstbInvoiceImport]
    WHERE   [BatchID] = @batchID
  END

  IF (@posted = 1 AND @batchID <> '' AND @policyID > 0)
  BEGIN
    UPDATE  [ANTIC].[dbo].[cstbInvoiceImport]
    SET     [TransactionType] = 'D'
    WHERE   [BatchID] = @batchID
    AND     [PolicyID] = @policyID
  END

  SELECT  [BatchID],
          [InvoiceDate],
          [BatchReceivedDate],
          [CustomerID],
          [FormID],
          [FormDescription],
          [FileID],
          [GPDocNum],
          [NetPremium],
          [GrossPremium],
          [PolicyID],
          [TransactionType]
  FROM    [cstbInvoiceImport]
  WHERE   [BatchID] = @batchID

  IF @batchID <> '' AND @newFileNumber <> ''
  BEGIN
    UPDATE  [cstbInvoiceImport]
    SET     [GPDocNum] = @newFileNumber
    WHERE   [BatchID] = @batchID
    AND     [GPDocNum] = @fileNumber
    AND     [PolicyID] = @policyID

    SELECT  [BatchID],
            [InvoiceDate],
            [BatchReceivedDate],
            [CustomerID],
            [FormID],
            [FormDescription],
            [FileID],
            [GPDocNum],
            [NetPremium],
            [GrossPremium],
            [PolicyID],
            [TransactionType]
    FROM    [cstbInvoiceImport]
    WHERE   [BatchID] = @batchID
    AND     [GPDocNum] = @newFileNumber
    AND     [PolicyID] = @policyID
  END
END
