USE [COMPASS]
GO

IF OBJECT_ID('tempdb..#reserveTable') IS NOT NULL
  DROP TABLE #reserveTable

IF OBJECT_ID('tempdb..#deltaTable') IS NOT NULL
  DROP TABLE #deltaTable

CREATE TABLE #reserveTable
(
claimID INT,
refCategory VARCHAR(10),
asOfDate DATETIME,
pendingInvoiceAmount DECIMAL(18,2),
approvedInvoiceAmount  DECIMAL(18,2),
completedInvoiceAmount  DECIMAL(18,2),
pendingReserveAmount  DECIMAL(18,2),
approvedReserveAmount DECIMAL(18,2),
reserveBalance DECIMAL(18,2)
)

CREATE TABLE #deltaTable
(
refCategory VARCHAR(100),
mth INTEGER,
yr INTEGER,
type VARCHAR(100),
amount DECIMAL(18,2)
)

DECLARE @startDate DATETIME = '2005-01-01',
        @endDate DATETIME = NULL,
        @fullDate DATETIME

SET @fullDate = @startDate
IF (@endDate IS NULL)
BEGIN
  SET @endDate = GETDATE()
END

SET @fullDate = DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,@fullDate)+1,0))
WHILE NOT @fullDate > DATEADD(d,1,@endDate)
BEGIN
  INSERT INTO #reserveTable
  EXEC [dbo].[spReportClaimBalances] @asOfDate = @fullDate
  SET @fullDate = DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,DATEADD(m,0,@fullDate))+2,0))
END

-- Get the deltas of the completed payables
INSERT INTO #deltaTable
SELECT  curr.[refCategory],
        MONTH(curr.[asOfDate]),
        YEAR(curr.[asOfDate]),
        'completePayments' AS 'type',
        SUM(curr.[completedInvoiceAmount]) - SUM(prev.[completedInvoiceAmount]) AS 'amount'
FROM    #reserveTable curr INNER JOIN
        #reserveTable prev
     ON prev.[refCategory] = curr.[refCategory]
    AND prev.[asOfDate] = DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,curr.[asOfDate]),0))
    AND prev.[claimID] = curr.[claimID]
GROUP BY curr.[refCategory],
         curr.[asOfDate]

-- Get the deltas of the approved adjustments
INSERT INTO #deltaTable
SELECT  curr.[refCategory],
        MONTH(curr.[asOfDate]),
        YEAR(curr.[asOfDate]),
        'approvedAdjustments' AS 'type',
        SUM(curr.[approvedReserveAmount]) - SUM(prev.[approvedReserveAmount]) AS 'amount'
FROM    #reserveTable curr INNER JOIN
        #reserveTable prev
     ON prev.[refCategory] = curr.[refCategory]
    AND prev.[asOfDate] = DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,curr.[asOfDate]),0))
    AND prev.[claimID] = curr.[claimID]
GROUP BY curr.[refCategory],
         curr.[asOfDate]
            
-- Get the deltas of the reserve balance
INSERT INTO #deltaTable
SELECT  curr.[refCategory],
        MONTH(curr.[asOfDate]),
        YEAR(curr.[asOfDate]),
        'reserveBalanceDelta' AS 'type',
        SUM(curr.[reserveBalance]) - SUM(prev.[reserveBalance]) AS 'amount'
FROM    #reserveTable curr INNER JOIN
        #reserveTable prev
     ON prev.[refCategory] = curr.[refCategory]
    AND prev.[claimID] = curr.[claimID]
    AND prev.[asOfDate] = DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,curr.[asOfDate]),0))
GROUP BY curr.[refCategory],
         curr.[asOfDate]
            
-- Get the deltas of the reserve balance
INSERT INTO #deltaTable
SELECT  curr.[refCategory],
        MONTH(curr.[asOfDate]),
        YEAR(curr.[asOfDate]),
        'reserveBalance' AS 'type',
        SUM(curr.[reserveBalance]) AS 'amount'
FROM    #reserveTable curr
GROUP BY curr.[refCategory],
         curr.[asOfDate]

SELECT  piv.[yr],
        piv.[refCategory],
        piv.[type],
        piv.[1],
        piv.[2],
        piv.[3],
        piv.[4],
        piv.[5],
        piv.[6],
        piv.[7],
        piv.[8],
        piv.[9],
        piv.[10],
        piv.[11],
        piv.[12]
FROM    #deltaTable src
        PIVOT
        (
        SUM(src.[amount])
        FOR [mth] IN ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12])
        ) piv
ORDER BY [yr],[refCategory] desc
GO
