GO

DECLARE @year INTEGER = 2017,
        @month INTEGER = 1,
        @claimID INTEGER = 0,
        @fullDate DATETIME

IF OBJECT_ID('tempdb..#reserveTable') IS NOT NULL
  DROP TABLE #reserveTable

CREATE TABLE #reserveTable
(
claimID INT,
refCategory VARCHAR(10),
asOfDate DATETIME,
pendingInvoiceAmount DECIMAL(18,2),
approvedInvoiceAmount  DECIMAL(18,2),
completedInvoiceAmount  DECIMAL(18,2),
pendingReserveAmount  DECIMAL(18,2),
approvedReserveAmount DECIMAL(18,2),
reserveBalance DECIMAL(18,2)
)

IF (@month = 0)
BEGIN
  SET @month = MONTH(GETDATE())
END

IF (@year = 0)
BEGIN
  SET @year = YEAR(GETDATE())
END

SET @fullDate = DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,CAST(CAST(@year AS varchar) + '-' + CAST(@month AS varchar) + '-01' AS DATETIME))+1,0))

IF (@claimID = 0)
BEGIN
  INSERT INTO #reserveTable
  EXEC [dbo].[spReportClaimBalances] @asOfDate = @fullDate
END
ELSE
BEGIN
  INSERT INTO #reserveTable
  EXEC [dbo].[spReportClaimBalances] @asOfDate = @fullDate, @claimID = @claimID
END

SELECT  [claimID],
        [refCategory],
        SUM([pendingInvoiceAmount]) AS 'pendingInvoiceAmount',
        SUM([approvedInvoiceAmount]) AS 'approvedInvoiceAmount',
        SUM([completedInvoiceAmount]) AS 'completedInvoiceAmount',
        SUM([pendingReserveAmount]) AS 'pendingReserveAmount',
        SUM([approvedReserveAmount]) AS 'approvedReserveAmount',
        SUM([reserveBalance]) AS 'reserveBalance'
FROM    #reserveTable
GROUP BY asOfDate,claimID,refCategory
ORDER BY claimID,refCategory

SELECT  SUM([E]) AS 'LAE',
        SUM([L]) AS 'Loss'
FROM    (
        SELECT  [claimID],
                [refCategory],
                [completedInvoiceAmount] AS 'amount'
        FROM    #reserveTable
        ) src
        PIVOT
        (
        SUM(src.[amount])
        FOR [refCategory] IN ([L],[E])
        ) piv
GO
